.table {
  border-radius: 10px;
  overflow: hidden;
}

th {
  text-transform: uppercase;
}

td {
  cursor: pointer;
}

.td-name {
  font-size: 19px;

  @media (min-width: 480px) {
    font-size: 22px;
  }
}

.td-center {
  text-align: center;
}