<div class="ficha">
  <div *ngIf="character" class="ficha-personaje">
    <div class="ficha-titulo">
      {{ character.name }}
      <a mat-raised-button color="warn" routerLink="/">Back</a>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ficha-contenido">
        <img class="ficha-imagen" src="{{ character.image }}" alt="" />
        <div class="ficha-datos">
          <div><span class="titulo">Status:</span>{{ character.status }}</div>
          <div><span class="titulo">Species:</span>{{ character.species }}</div>
          <div *ngIf="character.type">
            <span class="titulo">Type:</span>{{ character.type }}
          </div>
          <div><span class="titulo">Gender:</span>{{ character.gender }}</div>
          <div>
            <span class="titulo">Origin:</span>{{ character.origin.name }}
          </div>
          <div>
            <span class="titulo">Location:</span>{{ character.location.name }}
          </div>
        </div>
        <div class="episodios-personaje">
          Episodes:
          <div *ngFor="let episode of character.episode">
            {{ episode }}
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div *ngIf="!character">Character not found!</div>
</div>
