<div class="header">
  <h1 class="title">
    <img src="/assets/icons/icon-72x72.png" class="title-image" />
    <div class="title-text">
      <span>Rick & Morty:</span><span>Character datasheet</span>
    </div>
  </h1>
</div>
<div class="ficha">
  <div *ngIf="character.id" class="ficha-personaje">
    <div class="ficha-titulo">
      {{ character.name }}
      <a mat-raised-button color="warn" routerLink="/">Back</a>
    </div>
    <button mat-button color="primary" (click)="togglePanel()">
      {{ panelOpenState ? "Hide details..." : "Show more details..." }}
    </button>
    <mat-expansion-panel [expanded]="panelOpenState">
      <div class="ficha-contenido">
        <img class="ficha-imagen" src="{{ character.image }}" alt="" />
        <div class="ficha-datos">
          <div class="data">
            <span class="data-title">Status:</span>{{ character.status }}
          </div>
          <div class="data">
            <span class="data-title">Species:</span>{{ character.species }}
          </div>
          <div class="data" *ngIf="character.type">
            <span class="data-title">Type:</span>{{ character.type }}
          </div>
          <div class="data">
            <span class="data-title">Gender:</span>{{ character.gender }}
          </div>
          <div class="data">
            <span class="data-title">Origin:</span>{{ character.origin.name }}
          </div>
          <div class="data">
            <span class="data-title">Location:</span
            >{{ character.location.name }}
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div *ngIf="!character.id" class="character-error">
    <div class="ficha-titulo error">
      Character not found!!
      <a mat-raised-button color="warn" routerLink="/">Back</a>
    </div>
  </div>
</div>
